/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 2, 2016, 4:07:11 PM
    Author     : jaysukh
*/
.container {
    width: 100% !important;
}
body {
    font-family: Tahoma,verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif !important;
    font-size: 16px;
    color: #000;
}
.content-center{
    margin: 0px auto;
    width: 90%;
}
hr {
    border-color: #EBE6CF -moz-use-text-color -moz-use-text-color; 	

}
/*header*/

.headmenu{
    background: #fff;
    padding: 5px 0px;
}
.headmenu a{
    padding-right: 2%;
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;
    color: #0473C0;
}
.header_menu_res ul li{
    float: right;
}
.nav > li > a, .nav > li > a:hover, .nav > li > a:focus{
    color: #b9daf1;    
    font-size: 16px;    
    font-weight: bold;
}
.nav > li > a:hover, .nav > li > a:focus{
    background-color: #04558e;
    text-decoration: underline;
}
#logo{
    padding-bottom: 15px;
}
.header_menu {
    border-radius: 5px;
    margin-bottom: 20px;
}
@media (min-width: 768px){
    .navbar-nav > li {
        float: right;
    }    
}
/* end header*/
.content_botbg{
    background-color: #fff;
    background: none;
    border-bottom: none;
}
.content_left_ads{
    float: right;
    padding-left: 30px;
    padding-right: 12px;
}
.border-top-gray{
    border-top: 1px solid #ccc;
}
.share_icon{
    color: #a7a7a7;
}
.padding-0{
    padding: 0;
}
.margin-0{
    margin: 0 !important;
}
.font-16{
    font-size: 16px;
}
.padding-bottom-10per{
    padding-bottom: 10%;
}
.padding-bottom-5per{
    padding-bottom: 5%;
}
.padding-bottom-5{
    padding-bottom: 5px;
}
a :hover{
    text-decoration: none;
}
.width-100per{
    width: 100%;
}
.hide{
    display: none;
}
.btn_add{
    border-radius: 5px !important;
}
#grid{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.padding-top-4per{
    padding-top: 4%;
}
/*footer*/
.footer{
    background: url('../images/footer.png');
    background-repeat: no-repeat;
    background-size: cover;
}
a.city-head {
    background-color: #0473C0;
    color: #fff;
    padding: 3px 7px;
    font-size: 14px;
}
.star {
    color: #EBC300;
}
/* end footer*/

/* main content */
.main-content-area {
    font-size: 14px;
    padding-top: 2%;

}
.main-content-area .nav-tabs > li {
    width: 20%;
    text-align: center;
}
.nav-hide{
    background-color: #0473c0 !important;
    padding: 5px;
}
.title_nav{
    font-size: 16px;
    font-weight: 700;
    color: #b9daf1;
}
.fa-camera-retro.black:hover {
    outline: black;
    border-bottom: 1px solid;
}
.main-content-area > .nav-area > ul > li > a,.main-content-area > .nav-area > ul > li > a{
    font-size: 14px;
}
.main-content-area> .nav-area > ul > li > a:hover,.main-content-area > .nav-area > ul > li > a:focus{
    text-decoration: none;
    background-color: #eeeeee;
    color: #0000a2;
    font-size: 14px;
}
.round-border{
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}
.bg-grey{
    background-color: #F8F7F7;
}
.bs-example-control-sizing select.form-control {
    color: #000;
    font-size: 15px;
    font-weight: bold;
    background: #fff;
}
.margin-top-10 {
    margin-top: 10px;
}
a.gallerypic img {
    /* border: 1px solid #ccc; */
}
a.gallerypic img:hover {
    border: 1px solid #AAA9A9;
}
.car_cont {
    width: 75px;
    height: 75px;
}
/*
#tab1  span.pic-icon {
 position:relative;
/*padding-right:50px;

}*/
a.gallerypic{
    width:75px;
    text-decoration:none;
    position:relative;
    display:block;
    padding:2px;
    margin:2px;
    float:right;
}

a.gallerypic span.pic-icon{
    position:absolute;
    left:5%;
    bottom:5%;
}

a.gallerypic:hover span.pic-icon{
    visibility:visible;
}

.car_cont { background-image: url('../images/all_car.png'); }

.sprite-GMC { background-position: 0 0; } 
.sprite-audi { background-position: 0 -125px; } 
.sprite-benz { background-position: 0 -250px; } 
.sprite-bmw { background-position: 0 -375px; } 
.sprite-cadillac { background-position: 0 -500px; } 
.sprite-chevrolet { background-position: 0 -625px; } 
.sprite-dodge { background-position: 0 -750px; } 
.sprite-ford { background-position: 0 -875px; } 
.sprite-honda { background-position: 0 -1000px; } 
.sprite-hyundai { background-position: 0 -1125px; } 
.sprite-jeep { background-position: 0 -1250px; } 
.sprite-kia { background-position: 0 -1375px; } 
.sprite-landrover { background-position: 0 -1500px; } 
.sprite-lexus { background-position: 0 -1625px; } 
.sprite-mazda { background-position: 0 -1750px; } 
.sprite-mini { background-position: 0 -1875px; } 
.sprite-mitsubishi { background-position: -125px 0; } 
.sprite-nissan { background-position: -125px -125px; } 
.sprite-opel { background-position: -125px -250px; } 
.sprite-renault { background-position: -125px -375px; } 
.sprite-toyota { background-position: -125px -500px; } 
.sprite-volkswagen { background-position: -125px -625px; } 
.sprite-daihatsu { background-position: -125px -750px; } 
.sprite-infiniti { background-position: -125px -875px; } 
.sprite-suzuki { background-position: -125px -1000px; } 
.sprite-parts { background-position: -125px -1125px; } 
.sprite-porsche { background-position: -125px -1250px; } 
.sprite-chrysler { background-position: -125px -1375px; } 
.sprite-trucks { background-position: -125px -1500px; } 
.sprite-bikes { background-position: -125px -1625px; } 
.sprite-classic { background-position: -125px -1750px; } 
.sprite-damaged { background-position: -125px -1875px; } 
.sprite-tanazul { background-position: 0px -2000px; } 

.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: none;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #F7FBFA;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #f5f5f5;;
}
.black{
    color: #000;
}
.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 0px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #FFFEF7;
}
.font-18{
    font-size: 18px;
}
.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
.offer{
    font-size: 14pt;
    font-weight: bold;
    color: #009933;
    white-space: nowrap;
    width: 82%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.offer:hover{
    border-bottom: 1px solid;    
}
#search-bar{
    display: none;
}
#main-pic img {
    width: 100%;
}
.ad_div .ad_high h3 {
    font-family: "Times New Roman",Times,serif;
    font-size: 26px;
    font-weight: bold;
}
.comment_header {
    color: #999999;
    /* font: 12pt/1.5 Arial,Verdana; */
    font: 16pt Arial,Verdana;
    line-height: 1.6;
}
.ad_high {
    background: #F8F6E7;
    border: 1px solid #EBE6CF;
    border-bottom: 2px solid #EBE6CF;
    font: 16pt;
}
.shadowblock{
    padding: 0px;
}
.padding-top-20{
    padding-top: 20px;
}
.padding-20{
    padding: 20px;
}
.border-bottom-gray{
    border-bottom: 1px solid #ccc;
}
.label-success {
    background-color: #4cae4c;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.shadowblock{
    background: #fcfcf9;
    border: none;
}
.bigright{
    padding-right: 10px;
}
.content_login{
    margin: 0px auto;
    width: 40%;
}
.loginform p label{
    float: none;
}
.content_login .shadowblock_out{
    border: none;
}
.content_login .shadowblock{
    background-color: #fff;
}
.page-template-tpl-login-php .footer{
    display: none;
}
.loggin_name{
    padding-top: 10px;
}
#login{
    margin-top: 5px;
}
.password{
    padding-top: 5px;
}
/* end main content */